<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<div class="flex-center">

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title class="ion-text-center">Login</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>.
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
    
      </ion-item>.
      <ion-button color="dark" fill="clear" size="full">forget email/password</ion-button>
      <ion-button color="success" size="full">login</ion-button>
      <ion-button color="dark" fill="clear" size="full" routerLink="/register">new user? Register now</ion-button>
    </ion-card-content>

  </ion-card>

</div>
</ion-content>
