<!-- <ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        <ion-card-title class="ion-text-center">Regiter yourself</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <div class="fname-lname">
          <ion-item>
            <ion-label position="floating">first name</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>.
          <ion-item>
            <ion-label position="floating">last name</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>.
        </div>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>.
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
      
        </ion-item>.
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password"></ion-input>
      
        </ion-item>.
        <!-- <ion-button color="dark" fill="clear" size="full">forget email/password</ion-button> -->
        <ion-button color="success" size="full">Register</ion-button>
        <ion-button color="dark" fill="clear" routerLink="/login" size="full">already register?</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
